/* navbar */

.master-div-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.navbar-logo {
  padding: 0px 20px;
}

.navbar-right-section {
  display: flex;
  align-items: center;
}

.navbar-right-section>* {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.navbar-right-section div:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.navbar-right-section div:nth-of-type(4) p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
}

.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  border-bottom: none;
}

/* loaction dropdown */
.down {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px;
  height: 42px;
  cursor: pointer;
}

.down:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.down:hover.down img {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.down p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
}

.down img {
  margin-left: 8px;
  margin-right: 5px;
}

.locations {
  display: flex;
  align-items: center;
  background: #f2f2f2;

}

.locations div:nth-of-type(12) {
  display: flex;
}

.locations div:nth-of-type(12) p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.005em;
  color: #ee2e24;
}

.locations div:nth-of-type(12) img {
  object-fit: contain;
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  top: 118px;
  padding: 10px 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  z-index: 5;
  background-color: #ffffff;
}

.dropdown p {
  margin: 15px;
  cursor: pointer;
}

.dropdown p:nth-of-type(1) {
  font-weight: bold;
}

.dropdown p:hover {
  color: red;
  transition: all 0.15s;
}

/* search field div */

.red-rectangle {
  position: relative;
}

.red-rectangle img {
  width: 100%;
}

.heading-red-rectangle {
  position: absolute;
  top: -4px;
  left: 310px;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 39px;
  color: #fff;
  letter-spacing: -0.015em;
  text-align: center;
}

.search-field {
  position: absolute;
  display: flex;
  top: 35%;
  left: 11%;
  justify-content: center;
  align-items: center;
}

.search-field input {
  width: 500px;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  border: none;
  margin-right: -2.5px;
  background: #ffffff;
  border-radius: 4px 0px 0px 4px;
}

.search-field input:focus {
  outline: none;
}

.react-google-flight-datepicker .dialog-date-picker {
  width: 700px !important;
  z-index: 0;
}

.react-google-flight-datepicker .date-picker {
  padding: 2px !important;
}

.react-google-flight-datepicker .day.selected.hovered::after {
  border-radius: 100%;
  background-color: #df293a !important;
}

.react-google-flight-datepicker .day.hovered {
  background: #fce0de !important;
  border-radius: unset;
}

.react-google-flight-datepicker .day.selected::after {
  background-color: #df293a !important;
  border-radius: 100%;
}

.react-google-flight-datepicker .day:hover::after {
  background-color: #fff;
  border: 2px solid #df293a !important;
  bottom: -2px;
  left: -2px;
  right: -2px;
  top: -2px;
}

.react-google-flight-datepicker .icon-calendar {
  fill: #df293a !important;
}

.react-google-flight-datepicker .date:focus,
.react-google-flight-datepicker .date.is-focus {
  background-color: #fce0de !important;
}

.react-google-flight-datepicker .date.is-focus::after {
  border: 0px solid #df293a !important;
  z-index: -10;
}

.react-google-flight-datepicker .dialog-footer .submit-button {
  background-color: #df293a !important;
}

.react-google-flight-datepicker .day .background-day.last-day {
  background: linear-gradient(to left, #fff, #fce0de) !important;
}

.rooms {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin-left: -5px;
  cursor: pointer;
}

.rooms+button {
  width: 171px;
  height: 60px;
  background: #8d8d8d;
  box-shadow: 0px 4px 4px rgba(96, 182, 126, 0.12);
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
  border: none;
  margin-left: -1px;
  cursor: pointer;
}

.rooms+button:hover {
  background: #df293a;
}

/* banner */
.banner {
  padding: 35px;
}

.banner img {
  width: 100%;
}

/* world wide market */

.world-wide {
  background: #f4fcfe;
  width: 100%;
  display: flex;
}

.uae {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 130px;
  top: 810px;
  cursor: pointer;
}

.uaeDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  top: 950px;
  left: 145px;
}

.nepal {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 280px;
  top: 740px;
  cursor: pointer;
}

.nepalDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  top: 850px;
  left: 300px;
}

.china {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 440px;
  top: 715px;
  cursor: pointer;
}

.chinaDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  top: 820px;
  left: 500px;
}

.india {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 280px;
  top: 880px;
  cursor: pointer;
}

.indiaDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  top: 1010px;
  left: 300px;
}

.malayasia {
  position: absolute;
  width: 150px;
  height: 100px;
  left: 420px;
  top: 850px;
  cursor: pointer;
}

.malayasiaDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  top: 950px;
  left: 500px;
}

.indonesia {
  position: absolute;
  width: 106px;
  height: 136px;
  left: 380px;
  top: 950px;
  cursor: pointer;
}

.indoDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  top: 1085px;
  left: 400px;
}

.world-wide-right-section {
  padding: 50px 120px;
  text-align: left;
}

.world-wide-right-section>p:nth-of-type(1) {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.005em;
  margin-bottom: 40px;
}

.world-wide-right-section>p:nth-of-type(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}

.world-wide-right-section div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-style: normal;
}

.world-wide-right-section div span {
  font-size: 40px;
}

.world-wide-right-section ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.world-wide-right-section ul li {
  margin: 10px;
  font-size: 25px;
}

/* footer */

.footer {
  background: #ff0600;
  padding: 50px 80px;
  color: #fff;
}

.footer-sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.footer-sec1 div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer-sec1 div:nth-of-type(1) {
  border: none;
  padding-bottom: 30px;
  display: flex;
}

.footer-sec1 div:nth-of-type(2) p,
.footer-sec1 div:nth-of-type(1) p {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  /* Neutral white */

  color: #f4fcfe;
}

.footer-sec1 div:nth-of-type(2) button {
  width: 173px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.footer-sec1 div:nth-of-type(2) button img {
  margin-right: 5px;
}

.footer-sec1 div:nth-of-type(1)>*,
.footer-sec1 div:nth-of-type(2)>* {
  margin-right: 15px;
  object-fit: contain;
}

.footer-sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.footer-sec2 div:nth-of-type(1) {
  border: none;
  display: grid;
  grid-template-columns: 40% 60%;
}

.footer-sec2 div:nth-of-type(1) p {
  width: 180%;
  margin-bottom: 10px;
}

.footer-sec2 div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 40%;
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
  padding-left: 45px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
}

.footer-sec2 div:nth-of-type(2) p {
  margin: 10px;
}

.footer-sec2 div:nth-of-type(2) p:hover {
  text-decoration: underline;
}

.footer-sec2 div:nth-of-type(3) p {
  margin: 20px;
}

.footer-sec2 div:nth-of-type(3) p:hover {
  text-decoration: underline;
}

.footer-sec3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 35px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.footer-sec3 p {
  margin-top: 15px;
}

.footer-sec3 p:hover {
  /* text-decoration: underline; */
}


.footer-sec3 div:nth-of-type(1) {
  text-align: left;
}

.footer-sec3 div:nth-of-type(2) p:hover {
  text-decoration: underline;
}

.footer-sec3 div:nth-of-type(3) p:hover {
  text-decoration: underline;
}

.footer-sec4-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-sec4 {
  padding: 35px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.footer-sec4 p {
  margin: 15px;
}

.footer-sec4 p:hover {
  text-decoration: underline;
}

.footer-sec5 {
  padding: 35px 35px 0px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-sec5 img {
  margin-right: 25px;
  cursor: pointer;
}

.footer-sec5 div:nth-of-type(2) svg {
  padding: 10px;
}

.footer-sec5 p {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.005em;

  /* Neutral white */

  color: #f4fcfe;
}

/* rooms div when clicked */

.roomsDiv div:nth-of-type(1),
.roomsDiv div:nth-of-type(2),
.roomsDiv div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roomsDiv div:nth-of-type(1) {
  border-bottom: 1px solid #e6e6e6;
}

.roomsDiv div:nth-of-type(3) {
  border-top: 1px solid #e6e6e6;
}

.roomsDiv div:nth-of-type(3) button {
  background-color: transparent;
  border: none;
  padding: 13px 0px;
  font-size: 16px;
  cursor: pointer;
}

.roomsDiv {
  position: absolute;
  width: 290px;
  height: 172px;
  right: 110px;
  top: 70px;
  padding: 15px 25px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roomsDiv>* {
  padding: 8px 10px;
}

.room-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.room-counter button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #636363;
  box-sizing: border-box;
  border-radius: 2px;
}

.room-counter p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

/* stck */

.false {
  opacity: 0;
}

.scrollNav {
  opacity: 1;
}

.search-field-sticky {
  display: flex;
  justify-content: space-between;
}

.nav-sticky {
  display: flex;
}

.sticky {
  position: absolute;
  top: 0px;
}

.En,
.login-sticky {
  position: absolute;
}

.En {
  top: 0px;
  right: 220px;
}

.login-sticky {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 22px;
  right: 50px;
  width: 140px;
}

.nav-sticky-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  left: 208px;
}

.nav-sticky-container input {
  width: 329px;
  height: 54px;
  margin-right: -2px;
  background: #ffffff;
  padding-left: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 4px 0px 0px 4px;
}

.nav-sticky-container input:focus {
  outline: 1px solid #d3d3d3;
}

.white-back {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.simple blockquote p {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #1e528e;
  padding: 25px;
  font-size: 1.25em;
  font-style: italic;
  text-align: center;
}

.simple cite {
  font-size: 1em;
  float: right;
  font-style: normal;
  color: #1e528e;
}

.simple cite a {
  color: #2d91c2;
  font-style: italic;
  text-decoration: none;
  font-size: 0.85em;
}

.simple cite a:hover {
  color: #00b4cc;
}

/* Bubble Slider */

.bubble blockquote {
  background: #fff;
  padding: 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-size: 1.25em;
  color: gold;
  border: 1px solid gold;
  /* display: flex; */
  align-items: center;
  background-image: url('https://uploads-ssl.webflow.com/62c2a83de7fe5c513c65b6e8/62c2a83de7fe5c214d65b7e8_background-about-hero-tech-ui-kit-webflow-template.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.bubble blockquote:before,
.bubble blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  padding: 10px;
  line-height: 1;
  color: #fff;
}

.bubble blockquote:before {
  top: 0;
  left: 10px;
}

.bubble blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.bubble div {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.bubble blockquote>b {
  float: right;
  text-decoration: underline;
}

.bubble cite {
  padding-left: 20px;
  font-size: 1.25em;
  color: gold;
}

.ProcessBackground {
  background-image: url('https://wallpapercave.com/wp/wp1846079.jpg');
  /* filter: opacity(30%); */
  object-fit: cover;
}

.slick-next {
  right: 48px !important;
}

.slick-prev {
  left: 48px !important;
  z-index: 1000;
}

.slick-prev:before {
  content: 'â†';
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: gold !important;
}

.OnhoverEffect:hover {
  transform: translateY(-10px);

}

.login-button {
  background-color: rgba(255, 82, 25, 0.356) !important;
  background: linear-gradient(313deg, rgba(255, 84, 25, 1) 0%, rgba(255, 0, 0, 0.6896008403361344) 52%);
}

.login-button:hover {
  background-color: rgba(255, 0, 0, 0.433) !important;
}

.css-ag7rrr-MuiTypography-root {
  font-family: 'Playfair Display', serif !important;
}

.login-backbanner {
  position: relative;
  overflow: auto;
}

.login-backbanner:before {
  background-image: url('https://cdn.wallpapersafari.com/7/70/GWmEMb.jpg');
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cards {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.cards.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card-back {
  background-color: #d3d3d3;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

.SignUp-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15%;
}


.ResponsoiveHeader {
  display: flex;
  justify-content: space-evenly;
}

.ResponsoiveHeader>div {
  border-left: 1px solid red;
  padding: 10px;
}

.ResponsoiveHeader :nth-child(1) {
  border-left: none;
}

.mobileSearch {
  background-color: #fff;
  border-radius: 5%;
  color: red;
  /* max-width: 15rem; */
  border: 1px solid red;
}

.mobileSearch input {
  width: revert;
  height: revert;
  font-weight: revert;
  font-size: revert;
  line-height: revert;
  padding-left: revert;
  /* border: none; */
  margin-right: revert;
  background: revert;
  border-radius: revert;
}


@media screen and (max-width: 1440px) {
  .locations {
    display: none;
  }
}